h1{
 font-family: 'Times New Roman', Times, serif;
 font-size: 50px;
 text-align: center;
 color: black;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #475550;
    text-align: center;
    line-height: 30px;
}

.titulo {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.botao {
    background-color: rgb(211, 161, 85);
    border-radius: 50px;
    line-height: 30px;
}
