h1{
 font-family: 'Times New Roman', Times, serif;
 font-size: 50px;
 text-align: center;
 color: black;
}

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #475550;
    line-height: 30px;
}

.titulo {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.botao il {
    background-color: rgb(201, 141, 250);
    border-radius: 10px;
    line-height: 35px;
    padding: 6px;   
}

.img{
  float: left;
}
